/* Bright Retro Font */
@font-face {
    font-family: 'BrightRetro';
    src: url('./fonts/bright.ttf') format('truetype');
}

@font-face {
    font-family: 'Regular';
    src: url('./fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Light';
    src: url('./fonts/Inter-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Bold';
    src: url('./fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'ExtraBold';
    src: url('./fonts/Inter-ExtraBold.ttf') format('truetype');
}

/* Color palette*/
:root{
    --light-black: #1F1E1E;

    /* Greys */
    --light-grey: #F6F6EE;
    --pastel-grey: #F7F5EB;

    /* Blues*/
    --light-blue: #D5E3E8;
    --pastel-blue: #DAE7EB;
    --darker-blue: #A0C3D2;

    /* BrownISH */
    --pastel-brown: #EAE0DA;

    /* Pinks */
    --pastel-pink: #EAC7C7;
    --light-pink: #F9E7DD;
    --medium-pink: #DE7C7C;
    --dark-pink: #DE7C7C;

    --lilac-pink: #EBDEE7;
    --coral: #FFBB9A;
    --terracota: #E6895C;
    --light-coral: #F2E2D5;
    --lime-green: #D8FA6F;
    --lighter-beis: #F5F2ED;
}

.navbar-collapse {
    text-align: center;
}

.form-group > label > span {
    font-family: 'Bold', sans-serif;
}

body{
    font-family: 'Regular', sans-serif;
    background-color: var(--light-grey);
}

.h1-retro{
    font-family: 'BrightRetro', sans-serif;
    font-size: 50px;
    text-align: center;
}

h2.retro{
    font-family: 'BrightRetro', sans-serif;
    font-size: 42px;
    text-align: center;
}

h3.retro{
    font-family: 'BrightRetro', sans-serif;
    font-size: 38px;
}

h4{
    font-size: 20px;
    text-align: center;
}

h4.retro{
    font-family: 'BrightRetro', sans-serif;
    font-size: 32px;
    text-align: left;
}

.card {
    border-radius: 20px !important;
}

.shopping-card {
    border: 1px solid var(--lilac-pink);
}

.shopping-card .card-body{
    border-radius: 20px;
}

.pattern-card{
    border:none;
    width:80%;
}

@media (min-width: 1200px) {
    .pattern-card {
        min-width: 1000px;
    }
}

.pattern-card .card-body{
    border: none;
    border-radius: 20px;

}

@media (min-width: 1200px) {
    .pattern-card {
        min-width: 250px;
        border-radius: 0 20px 20px 0 !important;
    }
}

@media (max-width: 1199px) {
    .pattern-card {
        width: 100%;
    }
}


.pattern-side-bar{
    border: none;
    border-radius:  20px 0 0 20px;
    background-color: var(--light-blue);
    width: 50%;
    position: relative;
    transition: transform 0.3s ease;
}

@media (min-width: 1200px) {
    .pattern-side-bar {
        width:20%
    }
}


@media (max-width: 1199px) {
    .pattern-side-bar {
        width: 150px;
    }
}
.pattern-side-bar .nav-item .nav-link.active{
    background-color: var(--darker-blue);
    font-family: 'Bold', sans-serif;
    color: #1F1E1E;
}

.materials-card {
    border: 1px solid;
    border-color: var(--pastel-pink);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.materials-card .card-body {
    border: none;
    border-radius: 5px;
}


.success-card{
    background-color: var(--lime-green);
    border:none;
    border-color:var(--lime-green);
    max-width: 400px;
}

.success-card .card-header{
    background-color: var(--lime-green);
    font-family: 'Bold', sans-serif;
    text-align: center;
}

.success-card .card-body{
    background-color: var(--lime-green);
    text-align: center;
}


.card-header{
    background-color: var(--pastel-pink);
    border-radius: 20px 20px 0 0 !important;
}
.card-body{
    background-color: #ffffff;
    border-radius: 0 0 20px 20px ;
}

.card .card-img{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 400px;
    object-fit: cover
}

.user-result .card {
    background-color: var(--light-coral);
    margin: 20px;
    border: none;
}

.user-result .card-body{
    background-color: var(--light-coral);
    border-radius: 20px;
}

.user-result .card-header{
    background-color: var(--light-coral);
    border: none;
    align-items: start;
    justify-content: start;
}

.user-result .card .img-fluid{
    margin: 2px;
    border-radius: 20px;
}

.container-alert{
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

@media (max-width: 767px) { /* Pantallas pequeñas */
    .container-alert {
        width: 100%;
    }
}

.container-button-row{
    width: 100%;
    height: 69px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.container-button-area{
    flex: 1;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container.card.back-color-lilac-pink {
    max-width: 1100px;
}

.container.filters{
    max-width: 1200px;
}

.button-options{
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 40px;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    background-color: var(--pastel-pink);
}

.button-options:hover{
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    background-color: var(--medium-pink);
}

.button-lime{
    border-radius: 20px;
    background-color: var(--lime-green);
    font-family: 'Bold', sans-serif;
    border: 1px solid #1F1E1E;
    width: 70%;
    font-size: 18px;
}

.button-lime:hover{
    background-color: var(--lime-green);
    border: 2px solid #1F1E1E;
}


.button-coral{
    border-radius: 20px;
    background-color: var(--coral);
    font-family: 'Bold', sans-serif;
    min-width: 200px;
    max-width: 100%;
}

.button-coral:hover{
    background-color: var(--coral);
    border-color: #495057;
}

.button-lilac{
    background-color: var(--lilac-pink);
    border-radius: 20px;
    font-family: 'Bold', sans-serif;
    max-width: 100%;
}

.button-lilac.bigger{
    width: 30%
}

.button-lilac:hover{
    background-color: var(--lilac-pink);
    border-color: #495057;
}


/* Specific styles */
.logo-link{
    font-family: 'BrightRetro', sans-serif;
    font-size: 48px;
    color: var(--light-black);
}

/* Background colors */
.back-color-blue{
    background-color: var(--pastel-blue);
}


.back-color-pink{
    background-color: var(--pastel-pink);
}

.back-color-light-pink{
    background-color: var(--light-pink);
}

.back-color-lilac-pink{
    background-color: var(--lilac-pink);
    border: 1px solid var(--lilac-pink);
}

.back-color-light-coral{
    background-color: var(--light-coral);
    border: 1px solid #1F1E1E;
}

.back-color-lighter-beis{
    background-color: var(--lighter-beis);
}

.back-color-grey{
    background-color: var(--light-grey);
}

.back-color-white{
    background-color: #ffffff;
}

.back-color-brown{
    background-color: var(--pastel-brown);
}

/* Buttons */
.button-pink{
    background-color: var(--medium-pink);
    width: 100%;
    color: var(--light-black);
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.button-pink:hover{
    font-family: 'Bold', sans-serif;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.button-light-pink{
    background-color: var(--pastel-pink);
    border: none;
    width: 100%;
    color: var(--light-black);
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.button-light-pink:hover{
    background-color: var(--medium-pink);
}

.button-light-pink-images{
    background-color: var(--pastel-pink);
    border-radius: 10px;
    margin: 7px;
    font-size: 18px;
}

.button-light-pink-images:hover{
    background-color: var(--medium-pink);
}

.button-dark-blue{
    background-color: var(--darker-blue);
    width: 100%;
    font-size: 18px;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.button-dark-blue:hover{
    background-color: var(--darker-blue);
    font-size: 18.5px;
    border: 1px solid #ffffff
}

.btn-primary{
    background-color: var(--darker-blue);
    border-color: var(--darker-blue);
}

.btn-danger{
    background-color: var(--medium-pink);
    border-color: var(--medium-pink);
}

.framed-title{
    background-color: var(--pastel-blue);
    width: 100%;
    font-size: 18px;
    border-radius: 20px;
    padding: 10px 20px;
}

.button-light-blue{
    background-color: var(--pastel-blue);
    width: auto;
    min-width: 15%;
    font-size: 15px;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.button-light-blue:hover{
    background-color: var(--darker-blue);
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
}

.button-light-blue.next {
    margin-left: auto;
}

.button-light-blue.previous {
    margin-right: auto;
}


.back-link-blue{
    background-color: var(--pastel-blue);
    color: var(--light-black);
    font-family: 'Bold', sans-serif;
    font-size: 18px;
    border-radius: 20px;
    padding: 10px 20px;
}

.back-link-blue:hover{
    background-color: var(--darker-blue);
}

.nav-tabs .nav-item .nav-link{
    border-radius: 20px     20px      0           0;
    font-size: 22px;
    font-family: 'Bold', sans-serif;
    color: var(--light-black);
    margin-left: 5px
}

.nav-tabs .nav-item .nav-link.active{
    background-color: var(--pastel-blue);
    font-size: 24px;
}

.nav-tabs .nav-item .nav-link:hover{
    background-color: var(--darker-blue);
    font-size: 24px;
}

/* Bold title labels */
.bold-label {
    font-family: 'Bold', sans-serif;
    font-size: 18px;
}

.font-bold{
    font-family: 'Bold', sans-serif;
}

.extra-bold-label {
    font-family: 'ExtraBold', sans-serif;
    font-size: 18px;
}

/* Links */
.link-style{
    color: var(--light-black);
    font-style: italic;
    font-size: 20px;
    text-decoration: underline;
}
.link-style:hover{
    color: black;
    font-family: 'Bold', sans-serif;
    font-size: 20px;
    text-decoration: underline;
}

.product-link{
    color: var(--light-black);
    font-size: 20px;
}

.product-link:hover{
    color: black;
    text-decoration: underline;
}

.user-link{
    background-color: var(--lilac-pink);
    border-radius: 10px;
    color: var(--light-black);
    width: 20%;
    height: 100%;
}

.product-link-light{
    color: var(--darker-blue);
}

.product-link-light:hover{
    color: black;
}

.italic-message{
    color: var(--light-black);
    font-style: italic;
}

.custom-country-dropdown {
    width: 100%;
    padding: 8px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 16px 16px;
}

.icon-edit{
    height:20px;
    font-size: 24px;
    color: #A0C3D2;
}

.arrow-lime{
    background-color: var(--lime-green);
    font-size: 1.5em;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    padding: 5px;
}

.arrow-lime:disabled{
    background-color: var(--light-grey);
}

.page-link{
    color: var(--light-black);
    border: none;
    background-color: transparent;
}

.page-link:enabled{
    font-family: 'Bold', sans-serif;
}

.page-item.disabled .page-link {
    color: grey;
    pointer-events: none;
    background-color: transparent;
}

.page-item:not(.disabled) .page-link:hover {
    color: darkgreen;
    background-color: transparent;
}


.input-amount{
    width: 50%;
}


.search-placeholder{
    align-content: center;
    margin-right: 10px;
    opacity: 70%;

}

/* User Profile Store */
.profile-header {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.profile-header .profile-header-cover {
    background-color: var(--light-coral);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 20px;
}

.profile-header .profile-header-content {
    color: var(--light-black);
    padding: 25px
}

.profile-header-img {
    float: left;
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    margin: 0 0 -20px;
    padding: 3px;
    border-radius: 10px;
}

.profile-header-img img {
    max-width: 100%
}

.profile-header-info h4 {
    font-family: 'BrightRetro', sans-serif;
    font-size: 32px;
}

/* Space between profile pic and info*/
.profile-header-img+.profile-header-info {
    margin-left: 140px
}

.profile-header .profile-header-content,
.profile-header .profile-header-tab {
    position: relative
}

.profile-header .profile-header-tab {
    background: var(--coral);
    margin: -10px 0 0;
    padding: 0 0 0 150px;
    border-radius: 0
}

.profile-header .profile-header-tab>li>a {
    display: block;
    color: var(--light-black);
    padding: 10px 20px;
    font-size: 12px;
}

.profile-header .profile-header-tab>li.active>a,
.profile-header .profile-header-tab>li>a.active {
    font-weight: bold;
}

.profile-content {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 0 0 20px 20px;
}

.product-type-label{
    color: var(--light-black);
    text-align: center;
    font-style: italic;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    margin-top: 20px;
    z-index: 1;
    padding: 7px;
}


/* Filter tabs */
.tabs button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px 20px 0 0;
    outline: none;
    cursor: pointer;
    background-color: var(--light-coral);
    transition: background-color 0.3s;
}

.tabs button:hover {
    background-color: var(--coral);
    opacity: 80%;
}

.tabs button.active {
    background-color: var(--coral);
    font-family: 'Bold', sans-serif;
}

.tab-content {
    padding: 20px;
    border: none;
    background-color: var(--lilac-pink);
    border-radius: 0 20px 20px 20px;
}


/* My Store tabs*/
.tabs.my-store button{
    font-size: 24px;
    background-color: var(--darker-blue) ;
    opacity: 70%;
    width: 35%;
}

.tabs.my-store button:hover {
    background-color: var(--darker-blue);
    opacity: 100%;
}

.tabs.my-store button.active {
    background-color: var(--pastel-blue);
    font-family: 'Bold', sans-serif;
    opacity: 100%;
}

.tab-content.my-store {
    background-color: var(--pastel-blue);
}

.seller-info{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    margin-top: 20px;
    z-index: 1;
}

.heart-button{
    background-color: white;
    border: 1px black;
}

.heart-icon{
    fill: var(--coral);
}

.dashed-border{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px dashed #ccc;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
}

.image-upload-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

/* For big screens */
.image-upload-container img {
    max-width: 200px;
    max-height: 200px;
    padding:4px;
}


@media (max-width: 576px) {
    .image-upload-container {
        flex-direction: column;
        align-items: center;
    }
    .image-upload-container img {
        max-width: 150%;
        max-height: 150px;
        margin-bottom: 10px;
    }
}

.table{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.table th {
    background-color: var(--lilac-pink); /* Light grey background */
}

.table td, .table th {
    vertical-align: middle;
    align-content: center;
    justify-content: center;
}

.show-star-rating{
    pointer-events: none;
}


.section-title {
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Bold', sans-serif;
    color: var(--darker-blue);
    margin-top: 20px;
}
.notes-section {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}



