/* Bright Retro Font */
@font-face {
    font-family: 'BrightRetro';
    src: url('./fonts/bright.ttf') format('truetype');
}

@font-face {
    font-family: 'Regular';
    src: url('./fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Light';
    src: url('./fonts/Inter-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Bold';
    src: url('./fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'ExtraBold';
    src: url('./fonts/Inter-ExtraBold.ttf') format('truetype');
}

/* Color palette*/
:root{
    --light-black: #1F1E1E;

    /* Greys */
    --light-grey: #F6F6EE;
    --pastel-grey: #F7F5EB;

    /* Blues*/
    --light-blue: #D5E3E8;
    --pastel-blue: #DAE7EB;
    --darker-blue: #A0C3D2;

    /* BrownISH */
    --pastel-brown: #EAE0DA;

    /* Pinks */
    --pastel-pink: #EAC7C7;
    --light-pink: #F9E7DD;
    --medium-pink: #DE7C7C;
    --dark-pink: #DE7C7C;
}

.navbar-collapse {
    text-align: center;
}

.form-group > label > span {
    font-family: 'Bold', sans-serif;
}

body{
    font-family: 'Regular', sans-serif;
    background-color: var(--light-grey);
}

h1{
    font-family: 'BrightRetro', sans-serif;
    font-size: 50px;
    text-align: center;
}

h2{
    font-family: 'BrightRetro', sans-serif;
    font-size: 32px;
    text-align: center;
}

h4{
    font-size: 20px;
    text-align: center;
}

.card {
    border-radius: 20px !important;
}

.card-header{
    background-color: var(--pastel-pink);
    border-radius: 20px 20px 0 0 !important;
}
.card-body{
    background-color: #ffffff;
    border-radius: 0 0 20px 20px ;
}

.container-alert{
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

@media (max-width: 767px) { /* Pantallas pequeñas */
    .container-alert {
        width: 100%;
    }
}

.container-button-row{
    width: 100%;
    height: 69px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.container-button-area{
    flex: 1;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-options{
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 40px;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    background-color: var(--pastel-pink);
}

.button-options:hover{
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    background-color: var(--medium-pink);
}

/* Specific styles */
.logo-link{
    font-family: 'BrightRetro', sans-serif;
    font-size: 48px;
    color: var(--light-black);
}

/* Background colors */
.back-color-blue{
    background-color: var(--pastel-blue);
}


.back-color-pink{
    background-color: var(--pastel-pink);
}

.back-color-grey{
    background-color: var(--light-grey);
}

.back-color-white{
    background-color: #ffffff;
}

/* Buttons */
.button-pink{
    background-color: var(--medium-pink);
    width: 100%;
    color: var(--light-black);
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.button-pink:hover{
    font-family: 'Bold', sans-serif;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.button-light-pink{
    background-color: var(--pastel-pink);
    width: 100%;
    color: var(--light-black);
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.button-light-pink:hover{
    background-color: var(--medium-pink);
    border: 2px solid #ccc;
    border-radius: 10px;
}

.button-dark-blue{
    background-color: var(--darker-blue);
    width: 100%;
    font-size: 18px;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.button-dark-blue:hover{
    font-size: 18.5px;
    border: 1px solid #ffffff
}

.btn-primary{
    background-color: var(--darker-blue);
    border-color: var(--darker-blue);
}

.btn-danger{
    background-color: var(--medium-pink);
    border-color: var(--medium-pink);
}

.nav-tabs .nav-item .nav-link{
    border-radius: 20px     20px      0           0;
    font-size: 22px;
    font-family: 'Bold', sans-serif;
    color: var(--light-black);
    margin-left: 5px
}

.nav-tabs .nav-item .nav-link.active{
    background-color: var(--pastel-blue);
    font-size: 24px;
}

.nav-tabs .nav-item .nav-link:hover{
    background-color: var(--darker-blue);
    font-size: 24px;
}

/* Bold title labels */
.bold-label {
    font-family: 'Bold', sans-serif;
    font-size: 18px;
}
.extra-bold-label {
    font-family: 'ExtraBold', sans-serif;
    font-size: 18px;
}

/* Links */
.link-style{
    color: var(--light-black);
    font-style: italic;
    font-size: 20px;
    text-decoration: underline;
}
.link-style:hover{
    color: black;
    font-family: 'Bold', sans-serif;
    font-size: 20px;
    text-decoration: underline;
}

.product-link-light{
    color: var(--darker-blue);
}

.italic-message{
    color: var(--light-black);
    font-style: italic;
}

.custom-country-dropdown {
    width: 100%;
    padding: 8px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.icon-edit{
    height:20px;
    font-size: 24px;
    color: #A0C3D2;
}